.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App {
  background: #cedcf4;
  min-height: 100vh;
  padding: 40px;
  display: flex;
  justify-content: center;
}

.content-wrapper {
  display: flex;
  gap: 40px;
  max-width: 1200px;
  width: 100%;
}

.left-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}

.right-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Responsive */
@media (max-width: 900px) {
  .content-wrapper {
    flex-direction: column;
  }
}

/* Nasa image*/
.nasa-img {
  width: 100%;
  max-width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 10px;
}

.nasa-section h2,
.nasa-section p {
  margin-top: 20px;
  text-align: center;
}

.palette-row {
  display: flex;
  justify-self: center;
  gap: 10px;
}

.color-swatch {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  display: flex;
  align-items: end;
  justify-content: center;
  font-size: 10px;
  color: #fff;
  padding-bottom: 4px;
}

.texture-row {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.texture-tag {
  background: #dce6ff;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 12px;
}

.gallery-box {
  text-align: center;
  margin-left: 40px;
}

.gallery-grid {
  display: grid;
  justify-content: center;
  margin-left: 60px;
  grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
  gap: 15px;
}

.gallery-img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.2s;
}

.gallery-img:hover {
  transform: scale(1.05);
}
